.contenitore {
width: 1012px;
margin: auto;
border: 1px solid black;
}

.boxprodotto {
width: 250px;
height: 300px;
background-color: green;
display: inline-block;
position: relative;
}

.sconto {
height: 40px;
position: absolute;
top: 0px;
right: 0px;
background-color: red;
line-height: 40px;


}
