.contenitore {
    width: 1012px;
    margin: auto;
    border: 1px solid black;
}

.boxprodotto {
    width: 250px;
    height: 256px;
    background-color: grey ;
    display: inline-block;
    position: relative;
}

.boxprodotto > img {
    width: 100%;
}

.sconto {
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    line-height: 40px;
}

.cuore {
    right: 50%;
    position: absolute;
    bottom: 5px;
    /* width: 100%; */
    font-size: 60px;
    display: none;
    color: lightgrey;
}

.boxprodotto:hover .cuore{
    color: red;
    display: block;
}
